@charset "utf-8"

@import './_partials/_variable'
@import './_partials/_mixin'
@import './_partials/_base'

body#who-am-i-text
  article.container
    .colums
      section.column
        .content

          h3
            margin-top: 0
            padding-top: 0
            margin-bottom: 0
            padding-bottom: 0
          hr
            margin-top: 0
            padding-top: 0
            margin-bottom: 0
            padding-bottom: 0
          p.description
            margin-top: 0
            padding-top: 0
            font-weight: bold
