{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

{% include "partials/meta-info.njk" %}
{% include "partials/meta-analytics.njk" %}

{% set css %}{% include ".css/app.css" %}{% endset %}
    <style>{{ css| cssmin | safe }}</style>

    <link rel="stylesheet" media="print" href="/assets/fonts/fonts.css?{{ assetHash }}" onload="this.media='all'" />
  </head>
  <body id="{{ cssBodyId }}">

{% include "partials/header.njk" %}

{% block contentMain %}{% endblock %}

{% include "partials/footer.njk" %}

  </body>
</html>
