{# get parent page, if it exists #}
{% set parentInfo = null %}
{% if 0 < eleventyNavigation.parent | length %}
  {% for item in collections.all | eleventyNavigation %}
    {% if eleventyNavigation.parent === item.key %}
      {% set parentInfo = item %}
    {% endif %}
  {% endfor %}
{% endif %}

{# set this page's date #}
{% set created_date = 'none' %}
{% set modified_date = 'none' %}
{% if 0 < eleventyNavigation.parent | length %}
  {% if date %}{% set created_date = date | readableDate %}{% endif %}
  {% if updated %}{% set modified_date = updated | readableDate %}{% endif %}
{% endif %}

{% extends "layouts/base.njk" %}

{% block contentMain %}

  <article id="main-text" class="container">
    <div class="colums">
      <section class="column is-10 is-offset-1">
        <div class="content">
          <h2>{{ title | safe }}</h2>
          <hr />
          <p class="meta-info">
            Created: {{ created_date }}<br />
            Modified: {{ modified_date }}
{% if 0 < eleventyNavigation.parent | length %}
            <span class="upper-article"><a href="{{ parentInfo.url }}">{{ parentInfo.title }}</a></span><br />
{% endif %}
          </p>
{{ content | safe }}
        </div>
      </section>
    </div>
  </article>

{% if 0 < eleventyNavigation.parent | length %}
  <article id="contents-list" class="container">
    <div class="colums">
      <section class="column is-10 is-offset-1">
        <div class="content">
          <h2>Contents...</h2>
          <hr />
          <ol>
  {% for item in collections.all | eleventyNavigation(eleventyNavigation.parent) %}
            <li>
    {% if item.url === page.url %}
              <strong>{{ item.title }}</strong>
    {% else %}
              <a href="{{ item.url }}">{{ item.title }}</a>
    {% endif %}
            </li>
  {% endfor %}
          </ol>
          <p>
            From... <a href="{{ parentInfo.url }}">{{ parentInfo.title }}</a>
          </p>
{% endif %}
        </div>
      </section>
    </div>
  </article>

{% endblock %}
