@charset 'utf-8'

@use './_variable' as vars
@use './_mixin' as mixs

article.container
  margin-bottom: vars.$base-margin * 5

  p, dl dt, dl dd
    font-size: vars.$body-size

  h2
    margin-top: 0
    padding-top: 0
    margin-bottom: 0
    padding-bottom: 0
    font-weight: bold
    color: vars.$hexa-brown-dark

  hr
    @include mixs.hr-linear-gradient(0, 0, vars.$hexa-red, transparent)

  p.meta-info
    margin-top: vars.$base-margin
    padding-top: 0
    margin-bottom: vars.$base-margin * 2
    padding-bottom: 0
    text-align: right
    font-size: 0.9rem
    font-family: 'Courier New', Courier, monospace
    line-height: 1.0

    .upper-article
      display: block
      margin-top: vars.$base-margin
      padding-top: 0
      font-family: $family-sans-serif

      a
        @include mixs.ancher-decolation(vars.$hexa-brown-dark, vars.$hexa-red, false)

  h3
    font-size: 1.4rem
    padding-bottom: 0
    font-weight: bold
    color: vars.$hexa-brown-dark

  h4
    font-size: 1.2rem
    padding-bottom: 0
    font-weight: bold
    color: vars.$hexa-brown-dark

  blockquote
    margin-top: 0
    padding-top: 0
    margin-bottom: 0
    padding-bottom: 0
    border-left: 1px dotted vars.$hexa-brown-dark

    p
      margin-top: 0
      padding-top: 0
      margin-bottom: vars.$base-margin
      padding-bottom: 0

  a
    @include mixs.ancher-decolation(vars.$hexa-brown-dark, vars.$hexa-red, true)

  ul, ol
    margin-left: 1.0rem

  dl
    dt
      font-weight: bold

    dd
      margin-left: 1.0rem

  strong
    color: vars.$hexa-brown-dark
