@charset 'utf-8'
@use './_variable' as vars

::selection
  background-color: vars.$hexa-red
  color: vars.$hexa-brown-light

::-webkit-scrollbar
  height: 0.4rem

::-webkit-scrollbar-track
  background-color: vars.$hexa-brown-light

::-webkit-scrollbar-thumb
  background-color: vars.$hexa-brown-dark
