@charset 'utf-8'
@use './_variable' as vars
@use './_mixin' as mixs

footer.footer
  margin-top: 0
  padding-top: vars.$base-margin * 5
  margin-bottom: 0
  padding-bottom: vars.$base-margin * 5
  background: linear-gradient(vars.$hexa-brown-light, vars.$hexa-brown-dark)

  h2
    margin-bottom: 0
    padding-bottom: 0
    font-size: 1.0rem
    font-weight: bold

  hr
    @include mixs.hr-linear-gradient(0, vars.$base-margin, vars.$hexa-red, transparent)

  p, ul, ul li
    margin-top: 0
    padding-top: 0

  p
    line-height: 1.4

    .info-strong
      font-weight: bold

  a
    @include mixs.ancher-decolation(vars.$hexa-brown-dark, vars.$hexa-red, false)

  li
    line-height: 1.2
    mmargin-top: 0
    padding-top: 0
    margin-bottom: vars.$base-margin * 0.2
    padding-bottom: 0

    strong
      color: vars.$hexa-brown-dark
