@charset 'utf-8'
@use './_variable' as vars
@use './_mixin' as mixs

body#list
  article.container

    &#main-text
      margin-bottom: vars.$base-margin * 2

      section.footnotes
        margin-top: vars.$base-margin * 3

        h3
          margin-bottom: 0
          padding-bottom: 0
          font-size: 1.2rem

        ol li p
          line-height: 1.4rem

    &#contents-list

      ol li a
        @include mixs.ancher-decolation(vars.$hexa-brown-dark, vars.$hexa-red, false)
